<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="Nlog.Web.AspNetCore" />
  </extensions>

  <targets >
    <target xsi:type="File" name="logfile" fileName="nlog-${shortdate}.log" keepFileOpen="true" />
  </targets>
 
  <rules>
    <logger name="*" minlevel="info" writeTo="logfile" />
  </rules>
</nlog>